<div class="min-h-screen py-12">
  <div class="container mx-auto px-4 max-w-3xl">
    <h1 class="text-4xl font-extrabold text-center mb-12 text-indigo-700 shadow-text">Copywrite AI</h1>

    <%= form_with url: scrape_path, method: :post, local: true, class: "mb-10" do |f| %>
      <div class="bg-white shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4">
        <div class="mb-6">
          <%= f.label :url, "Enter the URL to scrape:", class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.text_field :url, value: params[:url], size: 50, class: "shadow appearance-none border rounded-lg w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent transition" %>
        </div>
        <div class="flex items-center justify-center relative">
          <%= f.submit "Scrape", class: "bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 px-6 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition duration-300 transform hover:-translate-y-1" %>
          <%= link_to root_path, class: "absolute right-0 bg-red-500 hover:bg-red-600 text-white font-bold py-3 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition duration-300 transform hover:-translate-y-1 ml-4" do %>
            Reset
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @scraped_text %>
      <div class="bg-white shadow-lg rounded-lg px-8 pt-6 pb-8 mb-10 ">
        <h2 class="text-2xl font-semibold mb-4 text-indigo-700">Scraped Text:</h2>
        <div class="h-96 overflow-auto mb-6 bg-gray-50 rounded-lg p-4 border border-gray-200">
          <pre class="whitespace-pre-wrap break-words text-sm text-gray-700"><%= @scraped_text %></pre>
        </div>
        <%= form_with url: improve_text_path, method: :post, local: true do %>
          <%= hidden_field_tag :scraped_text, @scraped_text %>
          <%= submit_tag "Improve my text", class: "w-full bg-green-500 hover:bg-green-600 text-white font-bold py-3 px-6 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition duration-300 transform hover:-translate-y-1" %>
        <% end %>
      </div>
    <% end %>

    <% if @improved_text %>
      <div class="bg-white shadow-lg rounded-lg px-8 pt-6 pb-8 transform">
        <h2 class="text-2xl font-semibold mb-4 text-green-700">Improved Text:</h2>
        <div class="h-96 overflow-auto bg-gray-50 rounded-lg p-4 border border-gray-200">
          <pre class="whitespace-pre-wrap break-words text-sm text-gray-700"><%= @improved_text %></pre>
        </div>
      </div>
    <% end %>
  </div>
</div>
